<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Propose Album</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            padding-top: 60px;
        }
    </style>
</head>
<body>
<div th:replace="~{header :: header}"></div>
<div class="container mt-5">
    <h2>Предложить новый альбом</h2>
    <form th:action="@{/proposals/new}" th:object="${proposal}" method="post">
        <div class="form-group">
            <label for="title">Название</label>
            <input type="text" id="title" name="title" th:field="*{title}" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="artist">Исполнитель</label>
            <input type="text" id="artist" name="artist" th:field="*{artist}" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="genre">Жанр</label>
            <input type="text" id="genre" name="genre" th:field="*{genre}" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="releaseYear">Год релиза</label>
            <input type="number" id="releaseYear" name="releaseYear" th:field="*{releaseYear}" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">Предложить</button>
    </form>
</div>
</body>
</html>
