<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Music Reviews</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="styles.css" rel="stylesheet">
    <style>
        body {
            padding-top: 56px;
        }
    </style>
</head>
<body>
<div th:replace="~{header :: header}"></div>
<div class="container mt-4">
    <div class="row">
        <div class="col-md-3">
            <div class="list-group">
                <a href="/albums" class="list-group-item list-group-item-action">Все альбомы</a>
                <a href="/album_form" class="list-group-item list-group-item-action">Предложить альбом</a>
            </div>
        </div>
        <div class="album-review-container">
            <div class="album-card">
                <h2>Новые альбомы</h2>
                <div th:if="${latestAlbum != null}" class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${latestAlbum.title}">Название альбома</h5>
                        <p class="card-text" th:text="${latestAlbum.artist}">Исполнитель</p>
                        <a th:href="@{/albums/{id}(id=${latestAlbum.id})}" class="btn btn-primary">Просмотреть</a>
                    </div>
                </div>
                <p th:if="${latestAlbum == null}">На данный момент альбомов нет.</p>
            </div>
            <div class="review-card">
                <h2>Новые рецензии</h2>
                <div th:if="${latestReview != null}" class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">
                            Рецензия от <span th:text="${latestReview.user.username}">Автор</span> на <span th:text="${latestReview.album.title}">Название</span>
                        </h5>
                        <p class="card-text" th:text="${latestReview.content}">Текст рецензии</p>
                        <p class="card-text"><small class="text-muted">Оценка: <span th:text="${latestReview.rating}">Оценка</span></small></p>
                    </div>
                </div>
                <p th:if="${latestReview == null}">На данный момент рецензий нет.</p>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
